{% extends 'base.html' %}

{% block content %}
<h1>Animals</h1>

<table class="fl-table">
  <tr>
    <th>Name</th>
    <th>Type of Animal</th>
    <th>Date of Birth</th>
    <th>Owners Email</th>
    <th>Vet</th>
    <th>Notes</th>

  </tr>
  {% for animal in animals %}
  <tr>

    <td><a href="/animals/{{animal.id}}">{{animal.name}}</a></td>
    <td>{{animal.animal_type}}</td>
    <td>{{animal.dob}}</td>
    <td>{{animal.owner}}</td>
    <td>{{animal.vet.name}}</td>
    <td>{{animal.notes}}</td>

  </tr>
  {% endfor %}
</table>

<!-- Possibly move add animal from Nav bar to here -->
{% endblock %}