<!DOCTYPE html>
<html>

<head>
  <title>Vet Surgery</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
</head>

<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/vets">Vets</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/animals/new">Add Animal</a></li>
        <!-- <li>
          <a href="/owners">Owners</a>
        </li> -->
      </ul>
    </nav>
  </header>
  <section id="content">
    {% block content %}

    {% endblock%}
  </section>

</body>

</html>